
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f3f6fd;
    transition: 0.2s;
    padding: 0 32px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    position: relative;
    
}

.header-left{
    flex: 1;
}
.header-left , .header-right{
    display: flex;
    align-items: center;
}
.web-icon{
    width: 26px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: relative;
}
.web-name{
    color: var(--main-color);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
    text-decoration: none;
}
.search-wrapper{
    border-radius: 20px;
    background-color: var(--background-customer-color);
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    color: var(--light-font);
    box-shadow: 0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
    overflow: hidden;
}
.search-input{
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: #fff;
    color: var(--main-color);
}


/* right */
.header-gap-auth{
    margin-left: .8rem;
    height: 100%;
}
.header-btn{
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    vertical-align: bottom;
    white-space: nowrap;
    border-left: 2px solid #ddd;
}
.header-btn a{
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    color: var(--main-color);
    text-decoration: none;
}


/* body -- content*/

.body-content{
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 16px 24px 24px 0;
}

.sidebar{
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-section{
    flex: 3;
    background-color: var(--background-customer-color);
    border-radius: 32px;
    padding: 32px 32px 0 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sub-content{
    flex-shrink: 0;
    padding-bottom: 32px;
    background-color: var(--background-customer-color);
    margin-left: 24px;
    flex: 1;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: auto;
}

.sidebar ul{
    margin-top: 16px;
}

.sidebar ul li{
    list-style: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.sidebar-link{
    color: var(--main-color);
    margin: 16px 0;
    transition: 0.2s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-link:hover{
    background-color: #c3cff4;
    color: #fff;
}
.sidebar-link img{
    min-width: 28px;
    height: 28px;
    line-height: 40px;
}
  
.tooltip{
    position: absolute;
    height: 35px;
    left: 60px;
    top: 0;
    transform: translateY(-50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    background: #c3cff4;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 0 10px;
    font-size: 1.8rem;
    transition: 0s;
    pointer-events: none;
    opacity: 0;
}


.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}
