:root{
    --input-background: #d9f6ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html{
	
    font-size: 62.5%;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
	height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
	height: 100%;
    

}
.container{
    align-items: center;
    justify-content: center;
	min-height: 100vh;
    height: inherit;
	
}

  
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	width: 400px;
}

h1 {
    font-size: 3rem;
	font-weight: bold;
	margin: 0;
}
span {
	font-size: 1.8rem;
    margin-bottom: 8px;
}
a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	margin: 15px 0;
}

input {
	background-color: var(--input-background);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 6px;
}
form button {
	border-radius: 20px;
    font-weight: bold;
	border: 1px solid #9ae7ff;
	background-color: #9ae7ff;
    font-size: 1.6rem;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 8px;
    
    
}




.social-container {
	margin: 20px 0;
}
.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.body-auth{
    background-color: #fff;
    border-radius: 32px;
    padding: 32px 32px 0 32px;
    overflow: hidden;
	min-height: 61%;
	height: inherit;
    
	
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 60%;
    margin-top: 32px;
}
.footer{
	width: 100vw;
}

